<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
 
  <connectionStrings>
    <add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Abundance_Nk_Ijero;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
   <!--<add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=97.74.6.243;initial catalog=Abundance_Nk_Ado;User ID=support;Password='Y;wDd*bUJ2@*T9V/';MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryPayoutletTransactionBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.etranzact.net:8080/WebService/QueryPayoutletTransaction" binding="basicHttpBinding" bindingConfiguration="QueryPayoutletTransactionBinding" contract="eTranzactWebService.QueryPayoutletTransaction" name="QueryPayoutletTransactionPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectionDetails" value="Data Source=localhost;Initial Catalog=Abundance_Nk_2;Integrated Security=True" />
    <add key="RemitaBaseUrl" value="https://login.remita.net/remita/ecomm/split/init.reg" />
    <add key="RemitaBaseUrlNonSplit" value="https://login.remita.net/remita/ecomm/init.reg" />
    <add key="RemitaVerifyUrl" value="https://login.remita.net/remita/ecomm" />
    <add key="RemitaResponseUrl" value="http://students.fedpolyado.edu.ng/Admin/RemitaReport/PaymentReceiptCard" />
    <add key="MailGunAPI" value="https://api.mailgun.net/v3/emails.lloydant.com" />
    <add key="MailGunAPIKEY" value="06b6db8ba1fa36f7dfddcff9d7c54040" />
    <!--<add key="AppRoot" value="https://students.fedpolyado.edu.ng" />-->
    <add key="AppRoot" value="http://localhost:2720" />
    
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
  
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Account/Login" />
    </authentication>
    <membership defaultProvider="AbundanceMembership">
      <providers>
        <clear />
        <add name="AbundanceMembership" type="Abundance_Nk.Business.AbundanceMembershipProviderLogic" />
      </providers>
    </membership>
    <roleManager defaultProvider="AbundanceRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="AbundanceRoleProvider" type="Abundance_Nk.Business.AbundanceRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="90800" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="IframeResponseHeaderModule" />
      <add name="IframeResponseHeaderModule" type="Abundance_Nk.Web.Models.IframeResponseHeaderModule"/>-->
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
        <defaultDocument>
            <files>
                <add value="index" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="info@lloydant.com">
        <network host="mail.lloydant.com" enableSsl="false" password="1@lloydantfamily" port="25" userName="info@lloydant.com" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>