@model Abundance_Nk.Model.Model.Receipt
@{
    ViewBag.Title = "VerifySchoolFees";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Verify School Fees</h2>

@using (Html.BeginForm("VerifySchoolFees", "Credential", new { area = "Common" }, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <br />
            @Html.TextBoxFor(p => p.barcodeImageUrl, htmlAttributes: new { @class = "form-control", @placeholder = "" })
        </div>
    </div>
}
